<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="confirm()">
    @if(nota){
    <ion-item>
      <ion-input #title placeholder="Title" type="text" formControlName="title" value="{{nota.title}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea #description placeholder="Description" formControlName="description"
        value="{{nota.description}}"></ion-textarea>
    </ion-item>

    @if (this.nota.img && this.nota.img !== '') {
    <div class="gButtons">
      <ion-button class="paramButton" fill="outline" (click)="sendImg()">Ver Imagen</ion-button>
      <ion-button class="paramButton" fill="outline" (click)="removeImg()" color="danger">borrar</ion-button>
    </div>
    }

    @if(this.nota.position && this.nota.position[1]) {
    <div class="gButtons">
      <ion-button class="paramButton" fill="outline" (click)="sendLoc()">Ver Ubicación</ion-button>
      <ion-button class="paramButton" fill="outline" (click)="removeLoc()" color="danger">borrar</ion-button>
    </div>
    }
    }
    <ion-button id="submit" size="large" expand="full" (click)="confirm()">Submit</ion-button>
  </form>
</ion-content>