<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list #lista>
    @defer (when this.notesList; on timer(1s)) {
    @for (note of _notes$ | async;track note.key) {
    <ion-item-sliding (ionSwipe)="onItemSlide($event, note)">
      <ion-item-options side="start">
        <ion-item-option color="primary" expandable="true" id="open-modal">
          <ion-icon slot="icon-only" src="assets/icons/create.svg" (click)="editNote()"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item (click)="viewNote(note)">
        <ion-label>{{note.title}}</ion-label>
        <p>{{note.description}}</p>
      </ion-item>


      <ion-item-options side="end">
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" src="assets/icons/trash.svg" (click)="deleteNote(note)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }
    } @placeholder (minimum 1000ms) {
    <ion-spinner name="dots"></ion-spinner>
    }
  </ion-list>
  @if(isInfiniteScrollAvailable){
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more notes..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }

</ion-content>