<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="container">

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notea</ion-card-title>
      <ion-card-subtitle>José Carlos Castro López</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Esta es una aplicación de notas creada como primer proyecto de Ionic y Angular.
    </ion-card-content>
  </ion-card>

  <ion-img src="assets/angular.svg" style="width: 200px; padding-top: 50px;
  margin: auto;"></ion-img>
  </div>
</ion-content>